<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bg-gradient bgcolor">  
  <h2 class="text-center text-light"><b>Welcome To The AssessmentPortal</b></h2>
  <div class="text-light">
    <div class="text-center">
      <% if user_signed_in? %>
        <%= current_user.email %>
        <% if current_user.admin? %>
          <h4>You're in Admin Panel</h4>
        <% else %>
          <h4>You're in User Panel</h4>
      </div>
        <h1>Your Assessments</h1>
        
        <% if @assessments.any? %>
          <ol>
            <% @assessments.each do |assessment| %>
              <li><%= assessment.title %>
              <%= link_to "Attempt", attempt_assessment_path(assessment.id), class: 'linkcolor' %></li>
            <% end %>
          </ol>
        <% else %>
          <p>No assessments assigned to you.</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
