<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bg-gradient bgcolor" >
  <div class="text-light">
    <%= link_to 'â†', admin_project_assessment_path(@project, @assessment), class: 'linkcolor' %>
    <h1>Add New Question</h1>
    <%= render 'form', form_url: admin_project_assessment_questions_path(@project, @assessment), form_method: :post %>
  </div>
</div>
